@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: rgba(133, 118, 243, 0.27);
}

body {
    background: #000;
    color: #fff;
    hyphens: auto;
    -webkit-font-smoothing: antialiased
}